:root {
  --second-color: #2196f3;
  --paragraph-color: #757575;
  --background-color: #2f303a;
  --background-team-color: #2f303a;
  --background-portfolio-color: #f5f4fa;
  --background-portfolio-main-color: #f5f5f5;
  --white-color: #ffffff;
  --black-color: #000000;
  --main-color: #212121;
  --border-color: #ececec;
  --bnt-hover-color: #188ce8;
  --icon-main-color: #afb1b8;
  --footer-icon-color: #44454e;

  --main-line-height: 1.17;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  overflow-x: hidden;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*Header */
.header {
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--second-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: 93px;
}
.logo-span {
  color: var(--black-color);
}
.nav,
.nav-contact {
  line-height: 1.14;
}

.nav {
  display: flex;
  align-items: center;
}
.nav-links {
  display: flex;
  margin-right: -32px;
}

.nav-links .item,
.nav-contact .item {
  margin-right: 50px;
}
.nav-links .item:last-child,
.nav-contact .item:last-child {
  margin-right: 0;
}

.nav-links .link,
.nav-contacts .contacts {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-contact {
  display: flex;
  margin-left: auto;
}

.header .conteiner {
  display: flex;
  align-items: center;
}

.link {
  position: relative;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.current::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1.2px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--second-color);
}
.contacts {
  display: flex;
  align-items: center;
  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mail {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.icon-telephone {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.link:hover,
.link:focus,
.contacts:hover,
.contacts:focus {
  color: var(--second-color);
}
.contacts:hover .icon-mail,
.contacts:hover .icon-telephone,
.contacts:focus .icon-telephone,
.contacts:focus .icon-mail {
  fill: currentColor;
}
/*Header end*/

/*Main*/
.offer,
.footer {
  background-color: var(--background-color);
}
.offer {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  width: 100%;
  background-size: cover;
}
.offer-conteiner {
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.main-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  width: 696px;

  margin-left: auto;
  margin-right: auto;

  text-transform: uppercase;
}
.btn {
  width: 216px;
  height: 50px;
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--second-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  border-radius: 4px;
  border-color: transparent;

  margin-top: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--bnt-hover-color);
}
.features-list {
  display: flex;
  margin-right: -30px;
}
.features-list .item {
  width: calc(100% / 4 - 30);
  margin-right: 30px;
}
.features-list .item:last-child {
  margin-right: 0;
}
.fetures-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: var(--background-portfolio-color);
  border-radius: 4px;
}
.text {
  color: var(--paragraph-color);
  font-size: 14px;
  line-height: 1.7;

  margin-top: 10px;
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: var(--main-line-height);
  text-transform: uppercase;
  margin-top: 30px;
}
.work {
  padding-top: 0;
}
.work-list {
  display: flex;
  margin-top: 50px;
  margin-right: -30px;
}
.work-list .item {
  margin-right: 30px;
}
.work-list .item:last-child {
  margin-right: 0;
}
.work-img {
  width: 370px;
  height: 294px;
  position: relative;
}
.work-subcon {
  width: 100%;
  height: 70px;

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
}
.work-subtitle {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  text-align: center;
}
.team-list {
  display: flex;
  margin-top: 50px;
  margin-right: -30px;
}
.team-list .item {
  text-align: center;
  border-color: transparent;
  border-radius: 0px 0px 4px 4px;

  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list .item:last-child {
  margin-right: 0;
}
.team {
  background-color: var(--background-portfolio-color);
}
.team-list .item {
  background-color: var(--white-color);
}

.team-conteiner {
  padding: 30px;
}
.team-title,
.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: var(--main-line-height);
}
.subject {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--main-line-height);
  text-align: center;

  margin-bottom: 10px;
}
.caption {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: var(--main-line-height);
  text-align: center;
  margin-bottom: 16px;
}

/* Social media */
.social-list {
  display: flex;
  justify-content: center;
}
.social-list .item {
  box-shadow: none;
  border-radius: 0px;

  margin-right: 10px;
}
.social-list .item:last-child {
  margin-right: 0;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-main-color);
  fill: currentColor;

  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background-color: var(--second-color);
  color: var(--white-color);
  fill: currentColor;
}
.social-link:focus {
  background-color: var(--second-color);
  color: var(--white-color);
  fill: currentColor;
}
.partner-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.partner-list {
  display: flex;
}
.partner-list .item {
  margin-right: 30px;
}
.partner-list .item:last-child {
  margin-right: 0;
}
.partner-link {
  width: 170px;
  height: 92px;

  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--icon-main-color);
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partner-link:hover,
.partner-link:focus {
  border-color: var(--second-color);
  color: var(--second-color);
  fill: currentColor;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--white-color);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.btn-close {
  position: absolute;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  color: var(--second-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
  fill: currentColor;
}
.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--main-color);
  margin-bottom: 12px;
}

.form-field {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  color: var(--second-color);
}
.word {
  font-size: 12px;
  line-height: 1.16;
  color: var(--paragraph-color);
  display: block;
}
.form-input {
  display: block;
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-man,
.icon-mailto,
.icon-tel {
  position: absolute;
  left: 15px;
  top: 65%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus-within {
  outline: none;
  border-color: var(--second-color);
}
.form-input:focus-within + .icon-man,
.form-input:focus-within + .icon-tel,
.form-input:focus-within + .icon-mailto {
  fill: currentColor;
}
.comment-input {
  height: 120px;
  width: 448px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  padding: 12px 16px;
  margin-top: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  margin-bottom: 20px;
}
.comment-input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.comment-input:focus-within {
  outline: none;
  border-color: var(--second-color);
}
.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  margin-bottom: 30px;
}
.input-checkbox {
  appearance: none;
  position: absolute;
}
.icon-span {
  width: 16px;
  height: 15px;
  background-image: url(../images/icon-frame.svg);
}
.policy {
  font-size: 14px;
  line-height: 1.7;
  color: var(--paragraph-color);
  margin-left: 9px;
}
.form-link {
  color: var(--second-color);
}
.input-checkbox:checked + .icon-span {
  background-image: url(../images/icon-check.svg);
}
.modal-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-modal {
  cursor: pointer;
  text-align: center;

  width: 200px;
  height: 50px;

  background: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 2px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover,
.btn-modal:focus {
  background-color: var(--bnt-hover-color);
}
/*Main end*/

/*Footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.info {
  font-style: normal;
  margin-top: 20px;
}
.first-footer {
  margin-right: 70px;
}
.footer-conteiner {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--second-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  display: block;
}

.footer-span {
  color: var(--white-color);
}
.footer-list .item {
  margin-top: 9px;
}

.footer-list .item:first-child {
  margin-top: 0;
}
.footer-list {
  margin-top: -9px;
}
.google-map {
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  text-decoration: none;
}
.social-title {
  text-transform: uppercase;
  color: var(--white-color);
  text-align: start;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 20px;
}
.social-footer-list {
  display: flex;
}

.social-footer-list .item {
  margin-right: 10px;
}

.social-footer-list .item:last-child {
  margin-right: 0;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-icon-color);
  color: var(--white-color);
  fill: currentColor;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--second-color);
}
.mailing-list {
  margin-left: 93px;
}
.form-mailing {
  display: flex;
}
.footer-lable {
  margin-right: 12px;
}
.mailing {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;

  width: 358px;
  height: 50px;

  padding-left: 16px;
  color: var(--white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing::placeholder {
  padding-left: 16px;
}
.mailing:focus-within {
  outline: none;
  border-color: var(--second-color);
}
.mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}
.footer-btn {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  background: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 2px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.icon-send {
  fill: currentColor;
  margin-left: 10px;
}

/* Footer end */

/*Portfolio*/
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
  margin-right: -8px;
}
.buttons .item {
  margin-right: 8px;
}
.buttons .item:last-child {
  margin-right: 0;
}
.button {
  cursor: pointer;
  color: var(--main-color);
  background-color: var(--background-portfolio-color);

  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--second-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Title*/
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/*Subtitle*/
.gallery-subtitle {
  font-size: 16px;
  line-height: 1.8;
  color: var(--paragraph-color);

  margin-top: 4px;
}

.reference {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay::before {
  content: '';
  position: absolute;
  display: inline-block;

  transform: translateY(100%);

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.paragraph {
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 18px;
  line-height: 1.5;
  color: var(--white-color);
  width: 322px;
  height: 168px;

  transform: translate(-50%, -50%) translateY(150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
}
.reference:hover .overlay::before,
.reference:focus .overlay::before {
  transform: translateY(0);
  opacity: 1;
}
.reference:hover .paragraph,
.reference:focus .paragraph {
  transform: translate(-50%, -50%) translateY(0);
  opacity: 1;
}
.gallery-conteiner {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.gallery-list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery-list .reference:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-list .reference:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*Portfolio end*/
