.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color;
}
.info {
  font-style: normal;
  margin-top: 20px;
}
.first-footer {
  margin-right: 70px;
}
.footer-conteiner {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: $second-color;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  display: block;
}

.footer-span {
  color: $white-color;
}

.footer-list__items {
  margin-top: 9px;
}
.footer-contact {
  display: flex;
  align-items: center;
  color: $paragraph-color;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.footer-list__item {
  &:first-child {
    margin-top: 0;
  }
}
.footer-list {
  margin-top: -9px;
}
.google-map {
  font-size: 14px;
  line-height: 1.7;
  color: $white-color;
  text-decoration: none;
}
