.form-field {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  color: $second-color;
}
.form-word {
  font-size: 12px;
  line-height: 1.16;
  color: $paragraph-color;
  display: block;
}
.form-input {
  display: block;
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-man,
.icon-mailto,
.icon-tel {
  position: absolute;
  left: 15px;
  top: 65%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
  &:focus-within {
    outline: none;
    border-color: $second-color;
  }
}
.form-input {
  &:focus-within + .icon-man,
  &:focus-within + .icon-tel,
  &:focus-within + .icon-mailto {
    fill: currentColor;
  }
}
.form-input__comment {
  height: 120px;
  width: 448px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  padding: 12px 16px;
  margin-top: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  margin-bottom: 20px;
}
.form-input__comment {
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
.form-input__comment {
  &:focus-within {
    outline: none;
    border-color: $second-color;
  }
}
.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  margin-bottom: 30px;
}
.form-input__checkbox {
  appearance: none;
  position: absolute;
}
.icon-span {
  width: 16px;
  height: 15px;
  background-image: url(../../../images/icon-frame.svg);
}
.form-policy {
  font-size: 14px;
  line-height: 1.7;
  color: $paragraph-color;
  margin-left: 9px;
}
.form-link {
  color: $second-color;
}
.form-input__checkbox {
  &:checked + .icon-span {
    background-image: url(../../../images/icon-check.svg);
  }
}
.modal-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-bnt__submit {
  cursor: pointer;
  text-align: center;

  width: 200px;
  height: 50px;

  background: $second-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 2px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: $white-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-bnt__submit {
  &:hover,
  &:focus {
    background-color: $bnt-hover-color;
  }
}
